/* Core styles for the page */
body {
  background-color: #F1F1F1;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.0em;
  color:#363636;
  background: #FF8C00;
  height: 100%;
  margin:0 ;
  padding: 0;
}
div.headline {
	height: 40px;
	margin-top: 40px;
	margin-bottom: 0px;
	top: 20%;
	background: #008080;
}

div.content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0%;
  padding-top: 0%;
}

.rf-ot-header {
	font-size: 20pt;
	font-style: italic;
	color: white;
	background-color: #008080;	
}

.rf-p-headerPanel{
	width: 100% !important;
}

.rf-p-containerPanel{
	background-color: #FF6103 !important;
	height: 100% !important;
}

.rf-p-navigationPanel{
	background-color: #FF2400 !important;
	height: 50% !important;
	width:25% !important;
	float:left !important;
}

.rf-p-contentPanel {
	background-color: #FFE9AD !important;
	float:left !important;
	height:100% !important;
	width:73% !important;
}

.rf-cb-navigationButton{
	color: white !important;
	background-color: #008080 !important;
	width: 100% !important;
}

.rf-ot-myFavourites {
	font-size: 16pt !important;
	font-weight: bold !important;
	text-align: center !important;
}

.rf-ot-free {
	display: inline-block !important;
	font-weight: bold !important;
	color: lime !important;
}

.rf-ot-shortlyFree {
	font-weight: bold !important;
	color: yellow !important;
}

.rf-ot-busy {
	font-weight: bold !important;
	color: red !important;
}

.rf-p-favouritePanel {
	background-color: #C9C9C9 !important;
	float:none !important;
}

.rf-cb-addButton{
	width: 100% !important;
	height: 100% !important;
	vertical-align: bottom !important;
}

.rf-pg-labelComboBoxContainer {
	width: 100% !important;
	float: left !important;
}

.rf-pg-labelComboBoxPanel{
	display: table !important;
}

.rf-pg-labelInPanelgroup{
	display: table-header-group !important;
}

.rf-pg-comboBoxInPanelgroup{
	display: table-footer-group !important;
}

.rf-pg-membersPanel{
	width: 100% !important;
	vertical-align: top !important;
}

.rf-cb-searchButton{
  color: blue !important;
  width: 100% !important;
  height: 100% !important;
}

.rf-pg-freeAppointmentTable {
	width: 100% !important;
	float: left !important;
}

.rf-pgc-tableColumn{
	width: 20% !important;
}

.rf-pgc-columnHeader{
	font: bold !important;
	color: blue !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.rf-col-memberColumn {
	vertical-align: top !important;
	margin-left: auto !important;
	margin-right: auto !important;
	font-weight: bold !important;
}

.rf-cb-addFav {
	height: 100% !important;
	width: 100% !important;
	background-color: #C9C9C9 !important;
	float:none !important;
}

.rf-cb-addFavCell>tbody>tr>td {
	vertical-align: top !important;
}